section.academic {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.academic__title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 2rem 0;
}

.academic__container {
  backdrop-filter: blur(4px);
}

.academic__courses {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  /*prodiedad para animacion*/
  opacity: 0;
  transition: 0.7s ease-in-out all;
}

.academic__container div.academic__courses {
  transform: scale(0.5);
}

.academic__container div.visible {
  opacity: 1;
  transform: scale(1);
}

.academic__courses__box {
  display: flex;
}

.academic__courses__list {
  flex-direction: column;
}

.academic__courses__item__img {
  justify-content: center;
  margin: 4rem 0;
}

.academic__courses__item__img__logo {
  width: 70%;
}

.academic__courses__item__title {
  font-weight: 700;
  margin: 0.5rem 0;
}

.academic__courses__item__subtitle {
  margin: 0.5rem 0;
}

/*Tablet*/
@media screen and (max-width: 768px) {
}

/*Mobile*/
@media screen and (max-width: 414px) {
  .academic__title {
    margin-bottom: 1rem;
  }

  .academic__courses {
    flex-direction: column;
    align-items: center;
  }

  .academic__courses__item__img__logo {
    width: 50%;
  }
}
