section.menu{
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}

.menu__header{
    display: flex;
}

.image__header{
    width: 2rem;
}

.menu__title{
    font-weight: 700;
}

.menu_content{
    display: flex;
    width: 75%;
    flex-direction: column;
    
}

.menu__list{
   display: flex;
   justify-content: space-between;
}

.menu__list__item{
    display: flex;
}

.menu__list__item__icon{
    display: flex;
    
}

.menu__list_img{
    width: 20px;
    padding-right: 1rem;
}

.menu__list__themes{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: var(--cor-turquesa-claro);
}

.menu__list__themes:hover{
    color: var(--cor-turquesa-claro);
}

.menu__list__themes:focus {
    outline: none;
}

.contacto{
    font-weight: 700;
}

.menu__list__item__contacto{
    display: none;
    font-weight: 700;
}

/*Tablet*/
@media screen and (max-width: 768px){
    
    .menu_content{
        width: 60.5%;
    }
   
    .menu__list__item{
        display: none;
    }

   #menu__list__item__theme{
        display: flex;
    }

    .menu__list__item__contacto{
        display: flex;
        
    }
}

/*Mobile*/
@media screen and (max-width: 412px){
    section.menu{
        margin-top: 1rem;
    }

    .menu_content{
        width: 25%;
    }

    .image__header{
        width: 10%;
        height: 80%;
        
    }
    
    .menu__list_img{
        padding-right: 0.2rem;
    }

    #menu__list__item__theme{
        display: block;
        position: absolute;
        top: 2.3rem;
        left: 7.5rem;
        width: 10%;
    }
 
 }